[submodule "part01/WinBgSwitcher"]
	path = part01/WinBgSwitcher
	url = https://github.com/Cuppixx/WinBgSwitcher
[submodule "part02/aufgabe-1-primzahlen-Cuppixx"]
	path = part02/aufgabe-1-primzahlen-Cuppixx
	url = https://github.com/WinfoJP/aufgabe-1-primzahlen-Cuppixx
[submodule "part04/aufgabe-2-objektorientierung-cuppixx"]
	path = part04/aufgabe-2-objektorientierung-cuppixx
	url = https://github.com/WinfoJP/aufgabe-2-objektorientierung-cuppixx
[submodule "part05/aufgabe-3-sudoku-Cuppixx"]
	path = part05/aufgabe-3-sudoku-Cuppixx
	url = https://github.com/WinfoJP/aufgabe-3-sudoku-Cuppixx
