[submodule "WinBgSwitcher"]
	path = WinBgSwitcher
	url = https://github.com/Cuppixx/WinBgSwitcher
[submodule "aufgabe-1-primzahlen-Cuppixx"]
	path = aufgabe-1-primzahlen-Cuppixx
	url = https://github.com/WinfoJP/aufgabe-1-primzahlen-Cuppixx
[submodule "aufgabe-2-objektorientierung-cuppixx"]
	path = aufgabe-2-objektorientierung-cuppixx
	url = https://github.com/WinfoJP/aufgabe-2-objektorientierung-cuppixx
[submodule "aufgabe-3-sudoku-Cuppixx"]
	path = aufgabe-3-sudoku-Cuppixx
	url = https://github.com/WinfoJP/aufgabe-3-sudoku-Cuppixx
[submodule "PythonClassFork_Challenge1"]
	path = PythonClassFork_Challenge1
	url = https://github.com/Cuppixx/PythonClassFork_Challenge1
